.dart_tool/
.packages
build/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock
android/.gradle/
android/.kotlin/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.lock
